/*
 *= require jquery.mobile.min
 */

@import "compass";

// Variables
//////////////////////

$space: 15px;

// Color
$grayLight: #ccc;
$orange: #ea7810;
$yellow: #ffcc00;

// Transitions
$default-transition-property : all;
$default-transition-duration : 1s;
$default-transition-function : ease;


// Base
//////////////////////
#{headings(all)} {
  font-family: 'Exo', sans-serif;
}

// Layout
//////////////////////
#progress.ui-page {
  position: relative;
  overflow:hidden;
  width:100%;
  height: 100%;
  background: $orange;
}


// Modules
//////////////////////

// Progress Bar
.progress-bar {
  border: 1px solid black;
  border-radius: 14px;

}
.progress-bar > div {
  color: white;
  background: green;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: right;

  -webkit-animation: progress-bar 2s;
}
@-webkit-keyframes progress-bar {
   0% { width: 0; }
}
.card-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
  background: $yellow;
  @include single-transition(width, 2s, ease-in-out);

  &:hover {
    width: 100%;
  }
}

// Game Message
.game-msg {
  position: absolute;
  top: 50%;
  width: 110%;
  height: 120px;
  margin: -60px 0 0 -10%;
  z-index: 10;

  @include rotate(- 1.5deg);
  font-family: 'Exo', sans-serif;
  font-style: italic;
  text-align: center;
  background: url("bg-msg.png") $orange repeat top left;
}
.ui-body-c .game-msg h1 {
  color: white;
  font-size: 3em;
  font-weight: 900;

  -webkit-text-stroke:2px black;
  @include text-shadow(3px 3px 0 black);
}


// Card
.card {
  width: 260px;
  padding: $space;
  background: white;
  @include single-box-shadow(rgba(black, 0.4), 3px, 3px, 12px);
  @include border-radius(8px);
  @include rotate(- 1.5deg);
}

.card p {
  margin: 0;
}
.card-title h2 {
  font-style: italic;
  font-size: 2em;
  margin: 0;
}
.card-map {
  margin: 0 (0 - $space);
}


// Player
.player {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  margin: 0 (- $space);
}
.player .card {
  position: absolute;
  bottom: -20px;
  left: -20px;
  padding-bottom: $space + 20px;
  z-index: 5;
}
.player .card-title,
.player .card-progress-nb {
  text-align: right;
}

// Opponent
.opponent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  margin: 0 (- $space);
}
.opponent .card {
  position: absolute;
  top: -20px;
  right: -20px;
  padding-top: $space + 20px;
  z-index: 5;
}

