/*
 *= require jquery.mobile.min
 */

@import "compass";
@import "animation";

// Variables
//////////////////////

$space: 15px;

// Color
$grayLight: #ccc;
$orange: #ea7810;
$yellow: #ffcc00;

$blue: #46a1cb;
$green: #93bf2b;

// Transitions
$default-transition-property : all;
$default-transition-duration : 1s;
$default-transition-function : ease;


// Base
//////////////////////
#{headings(all)} {
  font-family: 'Exo', sans-serif;
}

// Layout
//////////////////////
#progress.ui-page {
  position: relative;
  overflow:hidden;
  width: 100%;
  height: 100%;
  background: $orange;
}


// Modules
//////////////////////


// Game Message
.game-msg {
  position: absolute;
  top: 50%;
  width: 105%;
  height: 180px;
  margin-top: -100px;
  margin-left: -8%;

  @include rotate(- 1.5deg);
  font-family: 'Exo', sans-serif;
  font-style: italic;
  text-align: center;
  background: url("bg-msg.png") $orange repeat-x top left;
}
.ui-body-c .game-msg h1 {
  color: white;
  font-size: 3em;
  font-weight: 900;
  margin: 1em 0 0;

  -webkit-text-stroke:2px black;
  @include text-shadow(3px 3px 0 black);
}


// Progress Bar
.progress {
  background: rgba(red, 0.15);
  width: 100%;
  height: 30px;
  padding: 5px;
}
.progress-bar {
  height: 30px;
}

.progress-player {
  float: left;
  background: $green;
}
.progress-opponent {
  float: right;
  background: $blue;
}



// Card
.card {
  width: 260px;
  padding: $space;
  background: white;
  @include single-box-shadow(rgba(black, 0.4), 3px, 3px, 12px);
  @include border-radius(8px);
  @include rotate(- 1.5deg);
  z-index: 10;
}
.card p {
  margin: 0;
}
.card-title h2 {
  font-style: italic;
  font-size: 2em;
  margin: 0;
}
.card-map {
  margin: 0 (0 - $space);
}


// Player
.player {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  margin: 0 (- $space);
}
.player .card {
  position: absolute;
  bottom: -20px;
  left: -20px;
  padding-bottom: $space + 20px;
  z-index: 5;
}
.player .card-title,
.player .card-progress-nb {
  text-align: right;
}
.player .card-title {
  color: $green;
}


// Opponent
.opponent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  margin: 0 (- $space);
}
.opponent .card {
  position: absolute;
  top: -20px;
  right: -20px;
  padding-top: $space + 20px;
  z-index: 5;
}

.opponent .card-title {
  color: $blue;
}