@import "compass";
@import "animation";

// Variables
//////////////////////

$space: 15px;

// Color
$grayLight: #ccc;
$orange: #ea7810;
$yellow: #ffcc00;

$blue: #46a1cb;
$green: #93bf2b;

// Transitions
$default-transition-property : all;
$default-transition-duration : 1s;
$default-transition-function : ease;


// Base
//////////////////////
#{headings(all)} {
  font-family: 'Exo', sans-serif;
}

// Layout
//////////////////////

.ui-header {
  z-index: 2;
}

#show .ui-content {
  padding: 0px;
  overflow: hidden;
}

.compare.ui-content {
  position: absolute;
  top: 44px;
  bottom: 0px;
  z-index:1;
  width: 100%;
  overflow: auto;
  padding: 0 !important;
}

#compare .ui-content {
  overflow: hidden;

}
.compare {
  background: $orange;
}

// Modules
//////////////////////


// Game

.game-msg {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 180px;

  @include rotate(- 1.5deg);
  font-family: 'Exo', sans-serif;
  font-style: italic;
  text-align: center;
  background: url("bg-msg.png") $orange repeat-x top left;
}
.ui-body-c .game-msg h1 {
  color: white;
  font-size: 2em;
  font-weight: 900;

  -webkit-text-stroke:2px black;
  @include text-shadow(3px 3px 0 black);
}

.game-btn {
  position: absolute;
  z-index: 20;
  zoom: 1;
  top: 170px;
  left: 50%;
  width: 240px;
  margin-left: -120px;
  @include rotate(- 1.5deg);
  .ui-btn-inner {
    white-space: normal;
  }
}


// Progress Bar
.progress {
  background: rgba(red, 0.15);
  height: 30px;
  padding: 5px;
}
.progress-bar {
  height: 30px;
}

.progress-player {
  float: left;
  background: $green;
}
.progress-opponent {
  float: right;
  background: $blue;
}



// Card
.card {
  width: 260px;
  padding: $space;
  background: white;
  @include single-box-shadow(rgba(black, 0.4), 3px, 3px, 12px);
  @include border-radius(8px);
  @include rotate(- 1.5deg);
  z-index: 10;
}

.current .card {
  margin-left: 5px;
}

.card p {
  margin: 0;
}
.card-title h2 {
  font-style: italic;
  font-size: 2em;
  margin: 0;
}
.card-map-remove {
  margin: 0 (0 - $space);
}

.card-map { 
  img { width: 100%; }
}


// Player
.player {
  position: relative;

}
.player .card {
  position: absolute;
  top: 150px;
  left: -20px;
  padding-bottom: $space + 20px;
}
.show .player .card  {
  height: 200px;
}
.player .card-title,
.player .card-progress-nb {
  text-align: right;
}
.player .card-title,
.current .card-title {
  color: $green;
}


// Opponent
.opponent {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.compare .opponent {
  height: 120px;
}

.opponent .card {
  top: -20px;
  padding-top: $space + 20px;
}

#show .opponent {
  height: 90px;
  .card {
    position: absolute;
    left: 35px;
  }

  .card-title {
    @include rotate(180deg);
    text-align: left;
  }
}

#compare .opponent .card {
  position: absolute;
  right: -20px;
}

.opponent .card-title {
  color: $blue;
}


// Stack Circles
.circles {
  padding: 0px 10px;
  clear: both;
  height: 40px;
}
.circle {
  width: 20px;
  height: 20px;
  margin: 1px;
  border: 2px solid black;
  @include border-radius(10px);
  float: left;
}
.circle.me { 
  background-color: $green;
}

.circle.you { 
  background-color: $blue;
}
